/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `_prisma_migrations` VALUES ('0fe13e5a-ef93-43aa-8239-5355d1f0c37a','05ef3f063c7946eb43438bf157648bc8028b3bfb434b611ccd2fa7c9b0024bc4','2025-09-25 13:53:39.375','20250909135859_init_booking_system',NULL,NULL,'2025-09-25 13:53:39.357',1);
INSERT INTO `_prisma_migrations` VALUES ('d83613ca-afae-41a7-8f52-6c1f356e8c55','ba5b4aba50b78eb723d06db73c382acebd39b3e0fdfd5116f4dbca087f37b9c6','2025-09-25 13:53:39.401','20250922124510_add_villa_models',NULL,NULL,'2025-09-25 13:53:39.376',1);
INSERT INTO `_prisma_migrations` VALUES ('e8edc903-13ef-44e5-a5ed-86f573704aa1','ca8433e1c230ca776751ee43dae7690ffe427a7c0ea0ce560ba774f7f2c300c7','2025-09-25 13:53:39.349','20250909121423_add_user_model',NULL,NULL,'2025-09-25 13:53:39.336',1);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `roomId` int(11) NOT NULL,
  `checkIn` datetime(3) NOT NULL,
  `checkOut` datetime(3) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Booking_userId_fkey` (`userId`),
  KEY `Booking_roomId_fkey` (`roomId`),
  CONSTRAINT `Booking_roomId_fkey` FOREIGN KEY (`roomId`) REFERENCES `room` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `Booking_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookingdate` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `villaId` int(11) NOT NULL,
  `date` datetime(3) NOT NULL,
  `available` tinyint(1) NOT NULL DEFAULT 1,
  `price` int(11) NOT NULL,
  `isBlocked` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `BookingDate_villaId_fkey` (`villaId`),
  CONSTRAINT `BookingDate_villaId_fkey` FOREIGN KEY (`villaId`) REFERENCES `villa` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `post` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) NOT NULL,
  `content` varchar(191) NOT NULL,
  `author` varchar(191) NOT NULL,
  `date` datetime(3) NOT NULL,
  `priority` enum('LOW','MEDIUM','HIGH') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `post` VALUES (1,'Welcome to Oceanside Villas','We\'re delighted to have you stay with us. Please don\'t hesitate to contact our concierge team for any assistance during your visit.','Resort Management','2025-01-15 00:00:00.000','MEDIUM');
INSERT INTO `post` VALUES (2,'Beach Safety Guidelines','For your safety, please be aware of current ocean conditions. Life preservers are available at the beach house. Swimming is recommended during daylight hours only.','Safety Team','2025-01-14 00:00:00.000','HIGH');
INSERT INTO `post` VALUES (3,'Daily Housekeeping Schedule','Housekeeping services are available daily between 10 AM and 3 PM. Please contact reception to schedule your preferred time.','Housekeeping','2025-01-13 00:00:00.000','LOW');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `price` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `user` VALUES (1,'Admin','admin@example.com','$2b$10$lwGihgVWwT1FH.qjg0ujtu9TuDuwERsyjS0gvVPQlwpSBC7QeQhn.','2025-10-04 05:09:17.286');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `villa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `description` varchar(191) NOT NULL,
  `image` varchar(191) NOT NULL,
  `bedrooms` int(11) NOT NULL,
  `bathrooms` int(11) NOT NULL,
  `guests` int(11) NOT NULL,
  `amenities` varchar(191) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `villa` VALUES (1,'Villa Serena','Oceanfront luxury with panoramic views and private beach access. This stunning villa features contemporary design and world-class amenities.','https://images.unsplash.com/photo-1708261582096-db8a685f31bb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxsdXh1cnklMjBiZWFjaGZyb250JTIwdmlsbGF8ZW58MXx8fHwxNzU2M',4,3,8,'[\"Private Beach\",\"Infinity Pool\",\"WiFi\",\"Parking\"]');
INSERT INTO `villa` VALUES (2,'Villa Azure','Sophisticated retreat with pool terrace and garden views. Experience ultimate relaxation in this elegantly appointed sanctuary.','https://images.unsplash.com/photo-1567491634123-460945ea86dd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxsdXh1cnklMjByZXNvcnQlMjBwb29sJTIwdmlsbGF8ZW58MXx8fHwxN',3,2,6,'[\"Pool Terrace\",\"Garden View\",\"WiFi\",\"Parking\"]');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `villabooking` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `villaId` int(11) NOT NULL,
  `guestName` varchar(191) NOT NULL,
  `guestEmail` varchar(191) NOT NULL,
  `guestPhone` varchar(191) NOT NULL,
  `checkIn` datetime(3) NOT NULL,
  `checkOut` datetime(3) NOT NULL,
  `guests` int(11) NOT NULL,
  `totalPrice` int(11) NOT NULL,
  `status` enum('PENDING','CONFIRMED','CANCELLED','COMPLETED') NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `notes` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `VillaBooking_villaId_fkey` (`villaId`),
  CONSTRAINT `VillaBooking_villaId_fkey` FOREIGN KEY (`villaId`) REFERENCES `villa` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `villabooking` VALUES (4,2,'Jeane Alt','cybersecureph@gmail.com','23432432','2025-09-27 00:00:00.000','2025-10-01 00:00:00.000',2,2600,'PENDING','2025-09-25 14:41:16.517',NULL);
INSERT INTO `villabooking` VALUES (5,2,'Jeane Alt','cybersecureph@gmail.com','23432432','2025-09-27 00:00:00.000','2025-10-01 00:00:00.000',2,2600,'PENDING','2025-09-25 14:41:16.517',NULL);
INSERT INTO `villabooking` VALUES (6,1,'Jeane Alt','cybersecureph@gmail.com','234324234','2025-09-27 00:00:00.000','2025-10-01 00:00:00.000',8,3400,'CANCELLED','2025-09-25 23:02:27.062',NULL);
